<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <head>
      <title> Meet Eric and Haven </title>
  </head>
  <body>
    {{ data }}
  </body>
  <body>
    <div class="container">
      <h1>Look for a book!</h1>
        <form action="" method="get">
          <input type="text" placeholder="book" name="username" value="{{
            request.form.book }}">
          <input class="btn btn-default" type="submit" value="Submit">
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
  </body>
</html>
